.right_col[role="main"]
  .row
    .page-title
      h3
        | CricketCountUp
        small
          | detail data
  .clearfix
  .row.tile_count

/
  HighScore
  AverageScore
  Stats
  Triple Rate

/
  histgram
    Stats
    Triple Rate
    average score
/
  detail
    raw data 10



